@using Sandbox;
@using Sandbox.UI;
@using Sandbox.UI.Construct;
@using System;
@using System.Collections.Generic;

@namespace Facepunch.Pool
@attribute [StyleSheet( "/ui/Hud.scss" )]
@inherits RootPanel

<root>
    <VoiceList></VoiceList>
    <ChatBox></ChatBox>

    <div class="header">
         <PlayerDisplay></PlayerDisplay>
    </div>

    <div class="footer">
        <ToastList></ToastList>
        <BallHistory></BallHistory>
    </div>

    <LoadingScreen></LoadingScreen>
    <CursorController></CursorController>
</root>
