@using Sandbox;
@using Sandbox.UI;
@using System;

@namespace Facepunch.Pool
@attribute [StyleSheet( "/ui/LoadingScreen.scss" )]
@inherits Panel

<root>
    <label class="loading">Loading</label>
</root>

@code
{
	public override void Tick()
	{
		if ( !PoolGame.Entity.IsValid() ) return;
			
		var isHidden = (Game.LocalPawn is Player player);
		var round = PoolGame.Entity.Round;

		if ( round is PlayRound )
		{
			var playerOne = PoolGame.Entity.PlayerOne;
			var playerTwo = PoolGame.Entity.PlayerTwo;
			var cue = PoolGame.Entity.Cue;

			if ( !playerOne.IsValid() || !playerTwo.IsValid() || !cue.IsValid() )
				isHidden = false;
		}

		SetClass( "hidden", isHidden );

		base.Tick();
	}
}
