.controls {
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
    gap: 16px;
}

.button
{
    cursor: pointer;
    font-family: Poppins;
    font-weight: 600;
    font-size: 40px;
    transition: all 0.2s ease-in-out;

    .underline {
        transition: all 0.2s ease-in;
        background-color: red;
        position: absolute;
        width: 0%;
        height: 4px;
        top: 100%;
    }
    
    &.disabled {
        color: darken( white, 0.3 );
    }
}

.button:active {
    &:not( .disabled ) {
        sound-in: "ball-pocket-1";
    }
}

.button:hover {
    &:not( .disabled ) {
        sound-in: "ball-collide";

        .underline {
            background-color: white;
            transition: all 0.2s ease-in;
            width: 100%;
        }
    }
}

.fullscreen-blur {
    backdrop-filter: blur( 8px );
    position: absolute;
    width: 100%;
    height: 100%;
}

.game-title {
    font-family: Poppins;
    text-shadow: 0px 0px 16px black;
    font-weight: 700;
    font-size: 64px;
}

.canvas
{
    height: 100%;
    flex-grow: 1;
    flex-shrink: 0;
}

.game-description {
    text-align: center;
    text-shadow: 0px 0px 16px black;
    font-family: Poppins;
    font-size: 20px;
}

.center {
    justify-content: center;
    align-items: center;
}

.layout
{
    flex-direction: column;

    > *
    {
        flex-shrink: 0;
    }

    > .body
    {
        flex-grow: 1;
        flex-shrink: 0;
        flex-direction: column;

        &.columned
        {
            flex-direction: row;
            flex-grow: 1;
            flex-shrink: 1;

            justify-content: space-around;
            align-items: center;

            > .left
            {
                flex-grow: 0;
                flex-shrink: 0;
                overflow-y: scroll;
                flex-direction: column;
            }

            > .right
            {
                flex-grow: 0;
                flex-shrink: 0;
                flex-direction: column;
            }
        }
    }
}

.lobby-members {
    justify-content: center;
    margin-top: 32px;

    > .lobby-member {
        border-radius: 50%;
    }
}

.lobby-list {
    flex-direction: column;
    margin-top: 64px;
    gap: 8px;
}

.lobby-button {
    background-color: rgba( 0 0 0 0.15 );
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
    flex-direction: row;
    font-size: 20px;
    padding: 8px;
    gap: 8px;
    
    > .lobby-member {
        border-radius: 50%;
        width: 32px;
        height: 32px;
    }
}

.lobby-button:active {
    sound-in: "ball-pocket-1";
}

.lobby-button:hover {
    background-color: rgba( 0 0 0 0.3 );
    sound-in: "ball-collide";
}

.lobby-setup {
    flex-direction: column;
    margin-top: 64px;
    
    > .lobby-form {
        flex-direction: row;
        gap: 64px;
        
        > .lobby-control {
            flex-direction: column;
            
            SliderControl {
                > .inner {
                    > .values {
                        color: darken( white, 0.2 );
                    }
                }
            }
            
            > .text {
                text-shadow: 0px 0px 16px black;
                font-family: Poppins;
                font-size: 20px;
            }
        }
    }
}

.spinner {
    background-image: url( videos/loader.gif );
    background-size: cover;
    margin-right: 8px;
    width: 80px;
    height: 80px;
    
    &.small {
        width: 40px;
        height: 40px;
    }
}
