@using System
@using Sandbox;
@using System.Linq;
@using Sandbox.MenuSystem;
@using Sandbox.UI;
@using Sandbox.UI.GameMenu;
@inherits Panel
@attribute [StyleSheet]
@namespace Facepunch.Pool.Menu

@if ( !Game.InGame )
{
    return;
}

<root class="layout">

    <div class="game-title">
        &#x1F3B1; @Game.Menu.Package.Title
    </div>

    <div class="game-description">
        A classic pub game where your skill is determined by your blood-alcohol content. 
    </div>

    <div class="controls">

        <a class="button" href="/active">
            Current Game
            <div class="underline"></div>
        </a>
        <a class="button" onclick=@LeaveGame>
            Leave Game
            <div class="underline"></div>
        </a>

    </div>

</root>

@code
{
    void LeaveGame()
    {
        Game.Menu.LeaveServer("Leaving");
    }

    public override void Tick()
    {
        base.Tick();

        if (!IsVisible)
            return;

        if ( !Game.InGame )
        {
            this.Navigate( "/" );
        }
    }
}
