@using System
@using Sandbox;
@using Sandbox.UI;
@using Sandbox.Menu;
@attribute [StyleSheet]
@inherits Panel
@implements INavigatorPage
@namespace Facepunch.Pool.Menu

<root class="layout">

    <div class="navbar">

        <div class="left">
            <a class="button" href="/"> Home </a>
            <span class="block">&gt;</span>
            <span class="block">Find a Game</span>
        </div>

        <div class="right">
            
        </div>
    </div>

    <div class="body columned">
        Waiting for an opponent...
    </div>

</root>

@code
{
    private ILobby Lobby { get; set; }

    public void OnNavigationOpen()
    {
        JoinOrCreateLobby();
    }

    public void OnNavigationClose()
    {
        Lobby?.Leave();
        Lobby = null;
    }

    private async void JoinOrCreateLobby()
    {
        Lobby?.Leave();
        Lobby = null;

        var lobbies = await Game.Menu.QueryLobbiesAsync();

        foreach ( var lobby in lobbies )
        {
            if ( lobby.MemberCount < lobby.MaxMembers )
            {
                Lobby = lobby;
                await Lobby.JoinAsync();
                return;
            }
        }

        Lobby = await Game.Menu.CreateLobbyAsync(2);
        Lobby.Map = "maps/pool_lounge_v2.vpk";
        Lobby.OnMemberEnter += OnMemberEnter;
    }

    private void OnMemberEnter( Friend friend )
    {
        if ( Lobby.MemberCount == 2 )
        {
            Lobby.LaunchGameAsync();
        }
    }
}
