@using System
@using Sandbox;
@using Sandbox.UI;
@using Sandbox.Menu;
@attribute [StyleSheet]
@inherits Panel
@implements INavigatorPage
@namespace Facepunch.Pool.Menu

<root class="layout">
    
    <div class="waiting">
        <div class="spinner"></div>
        <label>Waiting for Opponent...</label>
    </div>

    <a class="main-button" href="/">
        Go Back
        <div class="underline"></div>
    </a>

</root>

@code
{
    private RealTimeUntil NextFindLobbies { get; set; }
    private bool IsLoadingGame { get; set; }
    private bool IsPageOpen { get; set; }
    private ILobby Lobby { get; set; }

    public void OnNavigationOpen()
    {
        IsPageOpen = true;
        JoinOrCreateLobby();
    }

    public void OnNavigationClose()
    {
        IsLoadingGame = false;
        IsPageOpen = false;

        Lobby?.Leave();
        Lobby = null;
    }

    private async void JoinOrCreateLobby()
    {
        NextFindLobbies = 5f;

        Lobby?.Leave();
        Lobby = null;

        var lobbies = await Game.Menu.QueryLobbiesAsync();

        foreach ( var lobby in lobbies )
        {
            if ( lobby.MemberCount >= lobby.MaxMembers ) continue;
            var success = await lobby.JoinAsync();

            if ( !IsPageOpen ) return;
            if ( !success ) continue;
            
            Log.Info( "Joined a lobby on init..." );
            Lobby = lobby;

            if ( Lobby.State != "ready" ) return;
            Lobby.LaunchGameAsync();
            Sound.FromScreen( "bonus" );
            IsLoadingGame = true;

            return;
        }

        if ( !IsPageOpen ) return;

        Log.Info( "Creating lobby..." );
        Lobby = await Game.Menu.CreateLobbyAsync(2);
        Lobby.Map = "maps/pool_lounge_v2.vpk";
    }

    private async void TryFindAvailableLobbies()
    {
        var lobbies = await Game.Menu.QueryLobbiesAsync();

        foreach ( var lobby in lobbies )
        {
            if (lobby.Owner.IsMe || lobby.MemberCount >= lobby.MaxMembers)
                continue;
            
            var success = await lobby.JoinAsync();

            if ( !IsPageOpen ) return;
            if ( !success ) continue;
            
            Log.Info( "Found a new lobby to join..." );
            Lobby?.Leave();
            Lobby = lobby;

            if ( Lobby.State != "ready" ) return;
            
            Game.Menu.EnterServerAsync();
            Sound.FromScreen( "bonus" );
            IsLoadingGame = true;

            return;
        }
    }

    public override void Tick()
    {
        base.Tick();

        if (Lobby == null || IsLoadingGame) return;

        if ( Lobby.Owner.IsMe )
        {
            if ( Lobby.MemberCount == Lobby.MaxMembers )
            {
                Log.Info("Starting game...");
                Lobby.LaunchGameAsync();
                Sound.FromScreen( "bonus" );
                IsLoadingGame = true;
            }
        }
        else if (Lobby.State == "active")
        {
            Log.Info("Joining game...");
            Lobby.LaunchGameAsync();
            Sound.FromScreen( "bonus" );
            IsLoadingGame = true;
        }

        if (Lobby != null && (Lobby.MemberCount == Lobby.MaxMembers || Lobby.State == "loading"))
            return;

        if (IsLoadingGame || !NextFindLobbies)
            return;
        
        TryFindAvailableLobbies();
        NextFindLobbies = 5f;
    }
}
