@using System
@using Sandbox;
@using Sandbox.MenuSystem;
@using Sandbox.UI;
@namespace Facepunch.Pool.Menu
@attribute [StyleSheet]

<root class="layout">

    <div class="game-title">
        &#x1F3B1; @Game.Menu.Package.Title
    </div>

    <div class="game-description">
        A classic pub game where your skill is determined by your blood-alcohol content.
    </div>

    <div class="controls">

        @if ( Game.InGame )
        {
            <a class="button" href="/active">
                Current Game
                <div class="underline"></div>
            </a>
            
            <a class="button" onclick=@LeaveGame>
                Leave Game
                <div class="underline"></div>
            </a>
        }
        else
        {
            <a class="button" href="/find">
                Find Game
                <div class="underline"></div>
            </a>
            <a class="button" @onclick=@Game.Menu.Close>
                Quit
                <div class="underline"></div>
            </a>
        }

    </div>

</root>

@code
{
    void LeaveGame()
    {
        Game.Menu.LeaveServer("Leaving");
    }
}
